[submodule "modules/MoorDyn_v1"]
	path = modules/MoorDyn_v1
	url = https://github.com/mattEhall/MoorDyn.git
	branch = master
[submodule "modules/MoorDyn"]
	path = modules/MoorDyn
	url = https://github.com/sanguinariojoe/MoorDyn.git
	branch = serialization
