[submodule "thirdParty/MoorDyn_v1"]
	path = thirdParty/MoorDyn_v1
	url = https://github.com/mattEhall/MoorDyn.git
	branch = master
[submodule "thirdParty/MoorDyn"]
	path = thirdParty/MoorDyn
	url = https://github.com/sanguinariojoe/MoorDyn.git
	branch = v2
